[Unit]
Description=TinyVPN Service
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/tinyvpn/server_up.sh
ExecStop=/etc/tinyvpn/server_down.sh

[Install]
WantedBy=multi-user.target
